.app {
  height: 100vh;

  display: grid;
  grid-template:
    'header header' 50px
    'left-menu emails' 1fr /
    180px 1fr;
}


.title {
  padding: 1rem;
}

.title h1 {
  padding-left: 56px;

  font-weight: normal;
}


